name: Build Electron App (Windows)

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build EXE
        run: npx electron-builder --win --x64 --publish=never



      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: electron-exe
          path: dist/

      - name: Build Next.js
        run: |
          npm run build
          npx next export
